:root{
    --backgroun:#F8F8F8;
    --Letra1: #909090;
    --Botao: #2686CC;
    --Obtenha:#353535;
    --Branco:#FFFFFF;
    --Letra2:#AFAFAF;
    --font:'Segoe ui';
}
body{
    background-color: chocolate;
}
.estrutura{
   position: absolute;
   width: 342px;
   height: 380px;
   background: var(--Branco);
   left: 500px;
   top: 150px;
}
.estrutura img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 30px;
}
.inputs{
    font-size:11px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe UI;
    border-radius: 2px;
    border-width: 1px;
    color: var(--Letra2);
    align-items: center;
    width: 267px;
    border: 1px solid #DCDCDC;
    height: 35px;
    background-color: var(--background);
}
.botao{
    font-size:12px;
    background-color: var(--Botao);
    position: relative;
    top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    width: 267px;
    height: 35px;
    font-family: Segoe UI;
    color: var(--Branco);
    border: 1px solid #DCDCDC;
}
hr.new {
    border-top: 1px solid #CBCBCB;
    margin-top: 200px;
    position: relative;
}
#lh {
    width: 109px;

    top: 440px;
    margin-top:32px;
    width: 109px;
    border: 1px solid #CBCBCB;
    margin-left: 37px;
    display: flex;
    margin: 1px;
.a{
    font-size:12px;
    font-family: Segoe UI;

}


